<!doctype html>
<html>
  <head>
    <title>BackboneDiorama</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <script src="/js/lib/jquery-1.9.1.min.js"></script>
    <script src="/js/lib/json2.js"></script>
    <script src="/js/lib/underscore-min.js"></script>
    <script src="/js/lib/backbone-min.js"></script>
    <script src="/js/lib/handlebars.js"></script>

    <script src="/js/lib/diorama.js"></script>

    <script src="/js/application.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        /**
         * Start your application here
         * ===========================
         *
         * var myController = new Backbone.Controllers.YourController()
         *
         */
      });
    </script>
  </head>
  <body>
    <div class="container">
      <h1>What open-source project should I work on?</h1>
    </div>
  </body>
</html>

